@import "../../share/scss/color.scss";

.auth {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .auth__wrapper {
    width: 100%;
    max-width: 560px;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0rem 0rem 0.5rem black;
    position: relative;
    .auth__title {
      margin-bottom: 1rem;
      text-align: center;
      font-size: 1.5rem;
      color: $main-color;
    }
    .auth__back {
      width: 1.5rem;
      height: 1.5rem;
      position: absolute;
      left: 1rem;
      top: 1rem;
      background-color: transparent;
      cursor: pointer;
      svg {
        fill: $main-color;
      }
    }
  }
}